.App {
    margin-left: 30%;
    margin-top: 10vh;
    width: 40%;
}

.TodoList {
    display: flex;
    justify-content: space-between;
    text-align: center;
    border: 1px solid gray;
    padding: 10px;
    /* background-color: yellowgreen; */
    margin-bottom: 10px;
}